<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>qoura posts</h1>
    <% posts.forEach((post) => { %>
        <div class="post">
            <h3 class="user"><%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <br>
            <a href="http://localhost:8080/posts/<%= post.id %>">see in detail</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit">EDIT</a>
            <br>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button>delete</button>
            </form>
        </div>
    <% }); %>

    <a href="http://localhost:8080/posts/new">new post</a>
</body>
</html>